bodY{
    background-color: lightblue;
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

h1{
    font-size: 3em;
}
ul{
    text-align: center;
    list-style-position: inside;
}
#add{
    background-color: lightslategray;

}
#clear{
    background-color: lightcoral;
}
.remove{
    background-color: lightslategray;
}
.remove:hover{
    background-color: lightcoral;

}
